.erp-cuerpo-contenedor{
    background: #fff;
    border-radius: 8px;
    padding: 40px;

    .title{
        width: 100%;
    }

    .cuerpo{

        form{
            label{
                display: block;
                font-size: 14px;
            }
            input, select{
                border: 1.5px solid #E1E6EF;
                border-radius: 5px;
                padding: 2px 5px;
                width: 100%;
            }
            input[type="file"] {
                height: 100px;
            }
            img{
                cursor: pointer;
            }
        }

    }
}